
.menu-item  {
    margin-left: 15px !important;
}

.swiper-button-next-2, .swiper-button-prev-2 {
    position: absolute;
    top: var(--swiper-navigation-top-offset,50%);
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #007AFFFF;
}

.swiper-button-next-2:after, .swiper-button-prev-2:after {
    font-family: swiper-icons;
    font-size: 12px;
    text-transform: none!important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    font-weight: bold;
    background-color: #0b73ea;
    color: white;
    padding: 10px;
    border-radius: 50%;
}

.author-section > .avatar {
    border-radius: 100% !important;
}