
.menu-item  {
    margin-left: 15px !important;
}

.swiper-button-next-2, .swiper-button-prev-2 {
    position: absolute;
    top: var(--swiper-navigation-top-offset,50%);
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #007AFFFF;
}

.swiper-button-next-2:after, .swiper-button-prev-2:after {
    font-family: swiper-icons;
    font-size: 12px;
    text-transform: none!important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    font-weight: bold;
    background-color: #0b73ea;
    color: white;
    padding: 10px;
    border-radius: 50%;
}

.author-section > .avatar {
    border-radius: 100% !important;
}
.breadcrumb-custom  {
    color: lightslategray;
    font-size: 10px ;
    font-weight: 300;
}
.breadcrumb-custom a {
    color: blue;
    font-size: 10px ;
    font-weight: 300;
}

#toc {
    background: #f9f9f9;
    padding: 15px;
    margin: 20px 0;
    border: 1px solid #ddd;
    position: relative;
}

#toc h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

#toc ul {
    list-style: none;
    padding-left: 0;
}

#toc ul li {
    margin-bottom: 5px;
}

#toc ul li a {
    text-decoration: none;
    color: #0073aa;
}

#toc ul li a:hover {
    text-decoration: underline;
}

#toc ul {
    display: none;
}

#toc-toggle {
    background-color: #0073aa;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    position: absolute;
    top: 24%;
    left: 10px;
}

#toc-toggle:hover {
    background-color: #005177;
}
